* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

header {
    padding: 0;
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-weight: bold;
    z-index: 1000;
    line-height: 1;
    border-bottom: none;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.sub-container ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.sub-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sub-container ul li a:hover {
    color: #f18807;
}


.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav ul li a {
    text-decoration: none;
    margin-left: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #f18807;
}

.btn-masuk,
.btn-daftar {
    text-decoration: none;
    color: #333;
    padding: 7px 12px;
    border-radius: 7px;
    font-weight: bold;
}

.btn-masuk {
    border: 1px solid #333;
    margin-right: 10px;
}

.btn-masuk:hover {
    color: #f18807;
    border-color: #f18807;
}

.btn-daftar {
    background-color: #f18807;
    color: #fff;
}

.btn-daftar:hover {
    background-color: #f18807;
    color: #fff;
}

.logo-text {
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

.logo-text:hover {
    color: #f18807;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo-text:hover {
    color: #f18807;
}

.logo-text img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}


.hero {
    position: relative;
    height: 75vh;
    display: flex;
    /* background-color: #fdb231; */
    align-items: center;
    filter: brightness(80%);
    background-image: url(../image/latar.png);
    justify-content: center;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(16, 48, 28, 0.6); */
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 90%;
    max-width: 900px;
}

.hero-content h1 {
    font-size: 64px;
    filter: brightness(100%);
    color: #ffff;
    font-weight: 800;
}

.hero-content p {
    font-size: 18px;
    margin-top: 10px;
}

.search-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-40%);
    z-index: 5;
}

.search-box {
    background: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    flex-wrap: nowrap;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.info-item {
    flex: 1;
    text-align: left;
    min-width: 180px;
}

.info-item h4 {
    color: #555;
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-item p {
    color: #333;
    font-size: 13px;
}

.divider {
    width: 2px;
    height: 70px;
    background-color: #000;
    border-radius: 2px;
}

.btn-search {
    background: #f18807;
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    flex-shrink: 0;
    transition: background 0.25s, transform 0.25s;
}

.btn-search:hover {
    background: #12803a;
    transform: translateY(-2px);
}

@media (max-width: 992px) {
    .search-box {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .divider {
        display: none;
    }

    .info-item {
        min-width: 100%;
    }

    .btn-search {
        width: 100%;
        max-width: 250px;
        margin-top: 10px;
    }

    .search-section {
        transform: translateY(-30%);
    }
}

@media (max-width: 576px) {
    .info-item h4 {
        font-size: 16px;
    }

    .info-item p {
        font-size: 12px;
    }

    .btn-search {
        padding: 12px 20px;
        font-size: 14px;
    }
}


.about {
    padding: 90px 10%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    animation: fadeIn 1s ease-in-out;
}

.about-images {
    display: flex;
    flex: 1;
    gap: 0px;
    min-width: 340px;
}

.left-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.8;
}

.left-images img,
.right-image img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.left-images img:hover,
.right-image img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.right-image {
    flex: 0.8;
    display: flex;
    margin-left: -40px;
    align-items: center;
}

.about-images img {
    max-width: 80%;
    margin: 0 auto;
    height: 38vh;
}

.about-text {
    flex: 1;
    min-width: 340px;
    color: #222;
}

.about-text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.about-text h2::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #16a34a;
    border-radius: 2px;
}

.about-text p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-images {
        flex-direction: column;
    }

    .left-images {
        flex-direction: row;
    }

    .right-image {
        order: -1;
        margin-left: 0;
    }

    .about-text h2::after {
        left: 50%;
        transform: translateX(-50%);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.price-cards {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.price-card {
    background: #ffffff;
    border: 2px solid #f18807;
    border-radius: 16px;
    padding: 20px 25px;
    width: 238px;
    text-align: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.price-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.price-card h3 {
    color: #555;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-card p {
    font-size: 1rem;
    color: #333;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 768px) {
    .price-cards {
        justify-content: center;
    }

    .price-card {
        width: 80%;
    }
}


.facilities-section{
    background-color: #f18807;
    filter: brightness(90%);
}

.facilities {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.facility-card {
    min-width: 200px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    text-align: center;
    padding: 25px 15px;
    transition: all 0.3s ease;
}

.facility-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.facility-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
}

.facility-card h3 {
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
}

section {
    padding: 80px 10%;
}

h2.section-title {
    text-align: center;
    font-size: 34px;
    color: var(--dark);
    margin-bottom: 40px;
    position: relative;
}

h2.section-title::after {
    content: '';
    width: 70px;
    height: 4px;
    background: var(--primary);
    display: block;
    margin: 10px auto 0;
    border-radius: 4px;
}






.testimonial .quote-icon {
    font-size: 60px;
    color: #999;
    text-align: left;

}

.testimonial .text {
    max-width: 450px;
}

.testimonial .text h2 {
    font-size: 22px;
    color: #222;
    margin-bottom: 10px;
}

.card {
    background: #fff;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 680px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.stars {
    color: #f18807;
    font-size: 20px;
}


.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px 60px;
    background-color: #f5f5f5;
    border-radius: 20px;
    max-width: 90%;
    margin: 80px auto;
    width: 100%;
}

@media (max-width: 768px) {
    section.testimonial {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .testimonial .text {
        max-width: 100%;
    }
}




footer {
    color: #e2e8f0;
    padding: 3rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h4 {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.footer-section p,
.footer-section a {
    color: #242425;
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #22c55e;
}

.footer-bottom {
    color: #94a3b8;
    text-align: center;
    padding: 1rem;
    font-size: 0.85rem;
}

@media (max-width: 768px) {
    header {
        padding: 15px 25px;
    }

    nav ul {
        gap: 15px;
    }

    .event-card {
        flex-direction: column;
    }

    .event-img {
        width: 100%;
        height: 200px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        min-width: 100%;
    }

}

@media (max-width: 600px) {
    .garis {
        width: 80%;
        margin: 20px auto;
    }
}

.garis {
    width: 90%;
    height: 2px;
    background: linear-gradient(90deg, #16a34a, #111111);
    border-radius: 4px;
    margin: 30px 0;
    margin-left: 65px;
}





.company-section, .vision-mission, .team-section {
    padding: 60px 10%;
    text-align: center;
}

.company-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.company-text {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}

.company-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.vision-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.vision-card {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: left;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-card {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    width: 220px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.team-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
