* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  color: #222;
}


.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.highlight {
  color: #16a34a;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 25px;
}

.btn-primary.big {
  padding: 10px 24px;
  font-size: 18px;
}