* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: #222;
}

.sidebar {
    width: 230px;
    background: #f5f5f5;
    display: flex;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    /* margin: 5px; */
    padding: 15px;
    transition: width 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.sidebar.collapsed {
    width: 80px;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.logo-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: all 0.3s ease;
}

#toggle-btn {
    position: absolute;
    top: 10%;
    right: -13px;
    transform: translateY(-50%);
    background: #117139;
    border: none;
    color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

#toggle-btn:hover {
    background: #117139;
    transform: translateY(-50%) scale(1.1);
}

#toggle-btn i {
    font-size: 18px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333;
    padding: 10px 14px;
    text-decoration: none;
    border-right: 4px solid transparent;
    font-size: 13px;
    transition: all 0.3s ease;
    width: calc(100% + 30px);
    margin-left: -12px;
    box-sizing: border-box;
}

.menu a i {
    font-size: 18px;
    margin-left: 35px;
}

.menu a.active {
    background-color: rgba(21, 255, 0, 0.15);
    border-right: 4px solid #117139;
    font-weight: 600;
    color: #000;
}

.menu a:hover {
    background: #117139;
    color: #fff;
}

.sidebar.collapsed .menu {
    align-items: center;
}
.sidebar.collapsed .logo-container h2 {
    display: none; 
}

.sidebar.collapsed .logo-img {
    margin: 0 auto; 
}

.sidebar.collapsed .menu a {
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
}

.sidebar.collapsed .menu i {
    font-size: 22px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

.sidebar.collapsed .menu a:hover i {
    background: rgba(17, 255, 0, 0.15);
    color: #117139;
}

.sidebar.collapsed .menu span {
    display: none;
}

.menu .log {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}

.main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
    margin-left: 260px;
}

.sidebar.collapsed~.main-content {
    margin-left: 110px;
}

.sidebar.collapsed .menu a.active {
    background: rgba(60, 255, 0, 0.15);
    border-right: none;
    border-radius: 10px;
    color: #117139;
}

.sidebar.collapsed .menu a.active i {
    color: #1a1a1a;
}

.sidebar.collapsed .menu a i {
    margin: 0; 
    font-size: 22px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;  
    justify-content: center; 
    border-radius: 10px;
}