* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: #222;
}

.sidebar {
    width: 230px;
    background: #f5f5f5;
    display: flex;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    padding: 15px 0;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    width: 100%;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
    background: transparent;
    transition: all 0.3s ease;
}

.menu a i {
    font-size: 20px;
}

.menu a span {
    flex: 1;
}

.menu a:hover {
    background-color: #117139;
    color: #fff;
}

.menu a.active {
    background-color: #a8eca5;
    color: #110e0e;
    border-right: 4px solid #0b6532;
}

.menu-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    color: #333;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.group-header .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.group-header:hover {
    background: #117139;
    color: #fff;
}

.group-header .arrow {
    transition: transform 0.3s ease;
}

.menu-group.open .group-header .arrow {
    transform: rotate(180deg);
}

/* ==== SUBMENU ==== */
.submenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #f0f0f0;
}

.menu-group.open .submenu {
    display: flex;
}

.submenu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 45px;
    color: #444;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease;
}

.submenu a:hover {
    background-color: #e5e5e5;
    color: #117139;
}

.submenu a.active {
    color: #117139;
    font-weight: 600;
}

.menu .log {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}

.menu .log a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu .log a:hover {
    background: #117139;
    color: #fff;
}

.main-content {
    flex: 1;
    margin-left: 230px;
    transition: margin-left 0.3s ease;
    background: #fff;
    overflow-y: auto;
    padding: 20px;
}
