* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: #222;
    background: #fff;
}

.sidebar {
    width: 230px;
    background: #156732;
    display: flex;
    border-right: 1px solid #0f5126;
    flex-direction: column;
    padding: 15px 0;
    position: relative;
    height: 100vh;
    scrollbar-width: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background: rgba(255, 255, 255, 0.18);
    padding: 12px 18px;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo-container h2 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-left: -12px;
    letter-spacing: 0.5px;
}


.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    background: transparent;
    transition: all 0.3s ease;
}

.menu a:hover {
    background-color: #ffffff;
    color: #156732;
}

.menu a.active {
    background-color: #ffffff;
    color: #156732;
    border-right: 4px solid #fff;
}

.menu-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.group-header:hover {
    background: #ffffff;
    color: #156732;
}

.group-header .arrow {
    transition: transform 0.3s ease;
}

.menu-group.open .group-header .arrow {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #156732;
}

.menu-group.open .submenu {
    display: flex;
}

.submenu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 45px;
    color: #e5e5e5;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease;
}

.submenu a:hover {
    background-color: #ffffff;
    color: #156732;
}

.submenu a.active {
    color: #156732;
    font-weight: 600;
}

.menu .log {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #0f5126;
}

.menu .log a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.menu .log a:hover {
    background: #ffffff;
    color: #156732;
}

.main-content {
    flex: 1;
    margin-left: 230px;
    transition: margin-left 0.3s ease;
    background: #fff;
    overflow-y: auto;
    padding: 20px;
}